body  {
        font-family: Helvetica, sans-serif;
        text-align: center;
        background-image: url("../images/the-flatiron-building.png");
}

.nav-link {
            font-size: 18px;
            font-weight: bold;
            color: white;
}

.item h1  {
      font-size: 70px;
      margin-top: -5px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      color: white;
      font-weight: bold;
}

.item h2  {
          font-size: 32px;
          margin-top: 5px;
          margin-bottom: 0px;
          margin-left: 0px;
          margin-right: 0px;
          font-weight: bold;
}

.item h3 {
          font-size: 23px;
          margin-top: 15px;
          margin-bottom: 0px;
          margin-left: 0px;
          margin-right: 0px;
          font-weight: bold;
}

.item h4 {
          font-size: 11px;
          color: white;
          background-color: dimgray;
          text-align: left;
}

.displayBlk-white {
        display: block;
        background-color: white;
        margin-top: -15px;
        margin-bottom: -15px;   /* margin-bottom: -15px; */
        margin-left: -10px;
        margin-right: -10px;
}

.madeIn {
        display: block;
        font-size: 23px;
        font-weight: bold;
        color: white;
        margin-top: 10px;
        margin-bottom: -15px;
        margin-left: -10px;
        margin-right: -10px;
}
